{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>Personne</h1>
    <p {% if person.personCovid %} 
            style="color:red"
        {% endif %}>
        {{ person.gender }} {{ person.firstname }} {{ person.lastname }} 
        {% if person.gender == 'Madame' %}
        Née
        {% elseif person.gender == 'Monsieur'%}
        Né
        {% else %}
        Né(e)
        {% endif %} 
        le {{ person.birthday ? person.birthday|date('d F Y') : '' }}
    </p>

    <h1>Lieux visités : </h1>
    <ul> 
        {% for visitedPlace in person.visitedPlaces %}
            <li>
                {{ visitedPlace.place.name }} le {{ visitedPlace.VisitedAt ? visitedPlace.VisitedAt|date('d F Y G:i:s') : '' }}
                <a href="{{ path('place_show', {'id': visitedPlace.place.id}) }}">show</a>
            </li>
        {% endfor %}
    </ul>


    {% if person.personCovid %}
        <h1>A eu le covid</h1>
        <p>Le {{person.personCovid.infectedAt ? person.personCovid.infectedAt|date('d F Y') : ''}} </p>
    {% endif %}


    {% if not person.personCovid %}
        <h2 style="color:brown">Cas Contact: </h2>
        <ul>
        {% for visitedPlace in person.visitedPlaces %}
            {% for people in visitedPlace.place.peopleWhoVisited %}
                {% if people.person.personCovid and visitedPlace.place.peopleWhoVisited %}
                    {% set dateDiff = visitedPlace.visitedAt.diff(people.visitedAt) %}
                    {% if people.person.personCovid 
                        and dateDiff.h < 3 
                        and  dateDiff.y == 0 
                        and  dateDiff.m == 0 
                        and  dateDiff.d == 0 %}
                    <a href="{{ path('person_show', {'id': people.person.id}) }}">
                        <li> {{people.person.firstname}} {{people.person.lastname}} </p>
                    </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            
        {% endfor %}
        </ul>
    {% else %}
        <h2 style="color:red">A été cas Contact de </h2>
        <ul>
        {% for visitedPlace in person.visitedPlaces %}
            {% for people in visitedPlace.place.peopleWhoVisited %}
                {% if not people.person.personCovid and visitedPlace.place.peopleWhoVisited %}
                    {% set dateDiff = visitedPlace.visitedAt.diff(people.visitedAt) %}
                    {% if not people.person.personCovid 
                        and dateDiff.h < 3 
                        and  dateDiff.y == 0 
                        and  dateDiff.m == 0 
                        and  dateDiff.d == 0 %}
                    <a href="{{ path('person_show', {'id': people.person.id}) }}">
                        <li> {{people.person.firstname}} {{people.person.lastname}} </p>
                    </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
    
    
    <a href="{{ path('person_index') }}">back to list</a>

    <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
